<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <system.webServer>

        <rewrite>
            <rules>
                <rule name="Block access to source maps except for Sentry" stopProcessing="true">
                    <match url="\.map$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_X_Sentry_Token}" pattern="902c07488e5911e7ae384201c0a8d03a" negate="true" />
                        <add input="{REMOTE_HOST}" pattern="96.84.155.37" negate="true" />
                    </conditions>
                    <action type="CustomResponse" statusCode="404" />
                </rule>

                <rule name="Redirect http to https" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
                </rule>

                <rule name="React-Router" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>
            <outboundRules>
                <rule name="Treat all non-HTML static content as immutable" preCondition="IsStaticContent">
                    <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
                    <action type="Rewrite" value="public, max-age=2147483647" />
                </rule>
                <rule name="Don't cache index.html, for serious, for really real (1)" preCondition="IsIndexHtml">
                    <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
                    <action type="Rewrite" value="no-cache, no-store, must-revalidate, max-age=0" />
                </rule>
                <rule name="Don't cache index.html, for serious, for really real (2)" preCondition="IsIndexHtml">
                    <match serverVariable="RESPONSE_Expires" pattern=".*" />
                    <action type="Rewrite" value="Thu, 01 Jan 1970 00:00:00 GMT" />
                </rule>
                <rule name="Don't cache index.html, for serious, for really real (3)" preCondition="IsIndexHtml">
                    <match serverVariable="RESPONSE_Pragma" pattern=".*" />
                    <action type="Rewrite" value="no-cache" />
                </rule>
                <preConditions>
                    <preCondition name="IsStaticContent">
                        <add input="{REQUEST_FILENAME}" pattern="\.((j|cs)s|(jpe?|sv|pn)g|gif)$" />
                    </preCondition>
                    <preCondition name="IsIndexHtml">
                        <add input="{REQUEST_FILENAME}" pattern="index\.html$" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>

        <handlers>
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <remove name="OPTIONSVerbHandler" />
            <remove name="TRACEVerbHandler" />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        </handlers>

        <security>
            <requestFiltering removeServerHeader="true" />
        </security>

        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>

        <caching>
            <profiles>
                <remove extension=".html" />
                <add extension=".html" policy="DontCache" kernelCachePolicy="DontCache" />
            </profiles>
        </caching>

    </system.webServer>

    <location path="index.html">
        <system.webServer>

            <staticContent>
                <clientCache cacheControlMode="DisableCache" />

                <mimeMap fileExtension=".map" mimeType="application/json" />
            </staticContent>

        </system.webServer>
    </location>

</configuration>
